
@{
    ViewBag.Title = "SaveBuildingDetail";
}

<h1>Success!</h1>

<h2>Building details successfully saved!</h2>

<div>
    @Html.ActionLink("Return to Building Entry Form", "EnterBuildingInformation", "BuildingInformation") <br />
    @Html.ActionLink("Main Menu", "Index", "Home")
</div>


