
@{
    ViewBag.Title = "SaveConferenceRoomDetail";
}

<h1>Success!</h1>

<h2>Conference Room details successfully saved!</h2>

<div>
    @Html.ActionLink("Return to Conference Room Entry Form", "EnterConferenceRoomInformation", "ConferenceRoomInformation") <br />
    @Html.ActionLink("Main Menu", "Index", "Home")
</div>

